@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&family=Raleway&family=Roboto+Mono&display=swap');

/* ----------------------------------------COLOURS VARIABLE---------------------------------- */

:root {
    --jet: #423e3b;
    --crayola: #d6e3f8;
    --bright: #5aff15;
  }

/* -------------------------------------Q&A CONTAINER-------------------------------- */

#question {
  font-family: 'Roboto Mono', monospace;
  padding-bottom: 1rem;
  font-weight: 600;
  font-size: 1.25rem;
}

.answer, #progress {
  /* padding-bottom: 1rem; */
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 4px;
}


/* -------------------------------------SPECIAL FONTS/COLOURS-------------------------------- */

body {
  margin: 0 auto;
  min-height: 100vh;
  background-color: var(--jet);
  color: var(--crayola);
}

.page-container {
  min-height: calc(100vh - 5rem);
  /* solution found here
  https://stackoverflow.com/questions/643879/css-to-make-html-page-footer-stay-at-bottom-of-the-page-with-a-minimum-height-b */
}

footer {
  height: 2.5rem;
}

h1, h2, h3 {
  font-family: 'Roboto Mono', monospace;
}

p, button, ul li, a {
  font-family: 'Raleway', sans-serif;
}

.btn-group-lg>.btn, .btn-lg {
  color: var(--crayola);
}

ul li a, footer p {
  color: var(--bright);
  background-color: var(--jet);
}

/* display nav links on left/right side */
.nav {
  justify-content: space-between;
}

a:hover {
  color: var(--crayola);
  border: 1px solid var(--bright);
}

.custom-colours {
  color: var(--crayola);
}

.red {
  background-color: #da0303;
}

.green {
  background-color: #078607;
}

/* #progress-bar {
  width: 20rem;
  height: 4rem;
  border: 0.3rem solid green;
} */
#progress span{
  display: inline;
}

/* .new {
  border: 1px solid green;
} */

.modal-header {
  border-bottom: 1px solid var(--jet);
}

.modal-dialog {
 background-color: var(--crayola);
 color: var(--jet);
 font-family: 'Raleway', sans-serif;
}

.btn-secondary {
  color: var(--crayola);
  background-color: var(--jet);
}

.modal-footer {
  border-top: 1px solid var(--jet);
}

/* -------------------------------------MEDIA QUERIES--------------------------------- */

@media (min-width: 768px) {
  .page-container {
    width: 66%;
  }
}
@media (min-width: 992px){
  .page-container {
    width: 50%;
    margin: auto;
  }
}