@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&family=Raleway&family=Roboto+Mono&display=swap');

/* ----------------------------------------COLOURS VARIABLE---------------------------------- */

:root {
    --jet: #423e3b;
    --crayola: #d6e3f8;
    --bright: #82ff9e;
  }

/* -------------------------------------Q&A CONTAINER-------------------------------- */

#question {
  font-family: 'Roboto Mono', monospace;
  padding-bottom: 1rem;
  font-weight: 600;
  font-size: 1.25rem;
}

.answer, #progress {
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 4px;
}


/* -------------------------------------SPECIAL FONTS/COLOURS-------------------------------- */

body {
  margin: 0 auto;
  min-height: 100vh;
  background-color: var(--jet);
  color: var(--crayola);
}

.page-container {
  min-height: calc(100vh - 6.5rem);
  /* solution found here
  https://stackoverflow.com/questions/643879/css-to-make-html-page-footer-stay-at-bottom-of-the-page-with-a-minimum-height-b */
}

footer {
  height: 2.5rem;
}

h1, h2, h3 {
  font-family: 'Roboto Mono', monospace;
}

p, button{
  font-family: 'Raleway', sans-serif;
}

.btn-group-lg>.btn, .btn-lg {
  color: var(--crayola);
}

.btn-outline-dark:hover {
  color: var(--crayola);
  background-color: var(--jet);
  border-color: var(--bright);
}

.btn-secondary:hover {
  color: var(--crayola);
  background-color: var(--jet);
  border-color: var(--bright);
}

.btn-secondary {
  width: 50%;
}

ul li a, footer p {
  color: var(--bright);
  background-color: var(--jet);
}

.navbar a {
  color: var(--bright);
  font-family: 'Roboto mono', monospace;
}
.navbar {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

ul li a:hover {
  color: var(--jet);
  background-color: var(--bright);
  font-weight: bolder;
}

.custom-colours {
  color: var(--crayola);
}

.red {
  color: var(--jet);
  background-color: #ff7e6b;
}

.green {
  color: var(--jet);
  background-color: var(--bright);
}

#progress span{
  display: inline;
}

.modal-header {
  border-bottom: 1px solid var(--jet);
}

.modal-dialog {
 background-color: var(--crayola);
 color: var(--jet);
 font-family: 'Raleway', sans-serif;
}

.btn-secondary {
  color: var(--crayola);
  background-color: var(--jet);
}

.modal-footer {
  border-top: 1px solid var(--jet);
}

/* -------------------------------------CONTACT FORM---------------------------------- */

#contact-form {
  padding-top: 2rem;
}

.form-group {
  padding-top: 1rem;
  font-family: Raleway, sans-serif;
}

#textInput .form-control {
  padding-bottom: 1rem;
}
/* -------------------------------------MEDIA QUERIES--------------------------------- */

@media (min-width: 768px) {
  .page-container {
    width: 66%;
  }
  .navbar {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
@media (min-width: 992px){
  .page-container {
    width: 50%;
    margin: auto;
  }
}

.answer:hover {
  cursor: pointer;
}