@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&family=Raleway&family=Roboto+Mono&display=swap');

/* ----------------------------------------COLOURS VARIABLE---------------------------------- */

:root {
    --jet: #423e3b;
    --crayola: #d6e3f8;
    --bright: #5aff15;
  }

/* -------------------------------------SPECIAL FONTS/COLOURS-------------------------------- */

body {
  margin: 0 auto;
  background-color: var(--jet);
  color: var(--crayola);
}

h1, h2, h3 {
  font-family: 'Roboto Mono', monospace;
}

p, button, ul li, a {
  font-family: 'Raleway', sans-serif;
}

.btn-group-lg>.btn, .btn-lg {
  color: var(--crayola);
}

ul li a, footer p {
  color: var(--bright);
  background-color: var(--jet);
}

/* display nav links on left/right side */
.nav {
  justify-content: space-between;
}

a:hover {
  color: var(--crayola);
  border: 1px solid var(--bright);
}

.custom-colours {
  color: var(--crayola);
}

.red-border {
  border: 1px solid #da0303;
}

.red {
  color: #da0303;
}

.green {
  color: #078607;
}

.green-border {
  border: 1px solid #078607;
}

/* #progress-bar {
  width: 20rem;
  height: 4rem;
  border: 0.3rem solid green;
} */
#progress span{
  display: inline;
}

.new {
  border: 1px solid green;
}

.modal-header {
  border-bottom: 1px solid var(--jet);
}

.modal-dialog {
 background-color: var(--crayola);
 color: var(--jet);
 font-family: 'Raleway', sans-serif;
}

.btn-secondary {
  color: var(--crayola);
  background-color: var(--jet);
}

.modal-footer {
  border-top: 1px solid var(--jet);
}